/* index */
/* slider */
#slider{
    overflow: hidden;
}
#slider>div{
    position: absolute;
    overflow: hidden;
    user-select: none;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
}
/* description */
#description>#general-description{
    width: 75%;
}
@media (max-width: 1070px){
    #description>#general-description{
        width: 100%;
    }
}
#description>img{
    width: 200px;
    height: 200px;
    margin: 30px 0;
}
#description>.secondary-card{
    width: 40%;
}
@media (max-width: 1070px){
    #description>.secondary-card{
        width: 90%;
    }
}
/* activities */
#activities>.secondary-card{
    cursor: pointer;
    width: 40%;
}
/* projects */
#projects>p{
    text-align: right;
    margin: 0;
}
#projects>.secondary-card{
    cursor: pointer;
}
/* administrators */
#administrators>p{
    text-align: right;
    margin: 0;
}
#administrators>.secondary-card{
    margin: 10px 0;
}
/* friends */
/* footer-card */
.footer-card{
    width: 20%;
    text-align: center;
    cursor: pointer;
}