#title_ {
    text-align: center;
    color: azure;
}
#play {
    margin: 300px auto auto auto;
    width: 30%;
    border-style: solid;
    text-align: center;
    font-size: 300%;
}
#number_ {
    margin: 200px auto auto auto;
    font-size: 500%;
    text-align: center;
}
#range_{
    margin: 10px auto auto auto;
    text-align: center;
}
html {
    background-image: url("pics/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}