html,body{
	margin: 0;
	padding: 0;
	height: 100%;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}
#canvas{
	max-height: 100%;
	max-width: 100%;
	display: block;
	margin: auto;
}

#preload{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	z-index: 99;
}
#preload>#preload-gif{
	text-align: center;
	font-size: 26px;
	height: 130px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	color: #222222;
}
#mask{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	z-index: 99;
	display: none;
}
#mask>#score{
	text-align: center;
	font-size: 26px;
	height: 130px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	color: #EEEEEE;
}

#menus{
	position: fixed;
	display: inline-block;
	right: -25px;
	top: 20px;
	z-index: 5;
	font-size: 28px;
}
#menus>div{
	margin: 0;
	padding: 0;
	display: inline-block;
	overflow: hidden;
}
#menus>#hidden-menus{
	position: relative;
	left: 500px;
}
#menus span{
	margin: 0 10px;
	padding: 8px;
	background-color: #EEE;
	border-radius: 50%;
	cursor: pointer;
}